.password-field-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  border-radius: 50px;
  box-shadow: 0 2px 8px 1px rgba(1, 1, 1, 0.9);
  color: #010101;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 500px;
  margin: auto;
  padding: 50px;
}

.password-field {
  border: 1px solid #010101;
  border-radius: 30px;
  color: #010101;
  min-width: 300px;
  padding: 8px;
  outline: none;
}

.password-field:hover,
.password-field:focus {
  border: 1px solid #010101;
  box-shadow: 0 2px 8px 1px rgba(1, 1, 1, 0.9);
  color: #010101;
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.strength-section-wrapper {
  display: flex;
  gap: 10px;
  padding: 20px;
  margin: 0 auto;
}

.info {
  position: relative;
  border: 1px solid #010101;
  box-shadow: 0 2px 8px 1px rgba(1, 1, 1, 0.9);
  border-radius: 30px;
  flex-grow: 1;
  padding: 20px;
  outline: none;
  cursor: help;
  /* padding-top: 30px;
  padding-bottom: 30px; */
}

.info:after {
  content: "?";
  position: absolute;
  /* width: 10px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}

.strength-section {
  border: none;
  border-radius: 30px;
  flex-grow: 1;
  padding: 20px;
  outline: none;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.password-requirements {
  display: none;
  border-radius: 50px;
  border: 1px solid #010101;
  color: #010101;
  padding: 10px;
  text-align: center;
  font-size: 10px;
  animation: slideDown 0.5s ease-in-out;
  box-shadow: 0 2px 8px 1px rgba(1, 1, 1, 0.9);
}

.password-requirements.visible {
  display: block;
}

@media screen and (max-width: 600px) {
  .password-field-wrapper {
    width: 300px;
    padding: 20px;
  }

  .password-field {
    min-width: 200px;
  }
}

@media screen and (max-width: 300px) {
  .password-field-wrapper {
    width: 200px;
  }

  .strength-section-wrapper {
    padding: 10px;
  }

  .strength-section {
    padding: 10px;
  }

  .info {
    padding: 10px;
  }

  .password-field {
    min-width: 100px;
  }
}
