<!-- password-checker.component.html -->
<div class="password-field-wrapper">
  <input
    type="password"
    [(ngModel)]="password"
    (ngModelChange)="checkPasswordStrength()"
    placeholder="Enter password"
    class="password-field"
  />
  <div class="strength-section-wrapper">
    <div
      class="strength-section"
      [style.background-color]="firstSectionColor"
    ></div>
    <div
      class="strength-section"
      [style.background-color]="secondSectionColor"
    ></div>
    <div
      class="strength-section"
      [style.background-color]="thirdSectionColor"
    ></div>
  </div>
</div>
