<div class="password-field-wrapper">
  <input
    type="password"
    [(ngModel)]="password"
    (ngModelChange)="checkPasswordStrength()"
    placeholder="Enter password, min 8 symbol"
    class="password-field"
  />
  <div class="message-wrapper">
    <div class="strength-section-wrapper">
      <div
        class="strength-section"
        [style.background-color]="firstSectionColor"
      ></div>
      <div
        class="strength-section"
        [style.background-color]="secondSectionColor"
      ></div>
      <div
        class="strength-section"
        [style.background-color]="thirdSectionColor"
      ></div>
      <button
        class="info"
        (mouseenter)="showPasswordRequirements()"
        (mouseleave)="hidePasswordRequirements()"
        (focus)="showPasswordRequirements()"
        (blur)="hidePasswordRequirements()"
      ></button>
    </div>
    <div
      class="password-requirements"
      [ngClass]="{ visible: passwordRequirementsVisible }"
    >
      {{
        password !== ""
          ? passwordRequirementsMessage
          : "Please enter a password, min 8 characters!"
      }}
    </div>
  </div>
</div>
