/* password-checker.component.css */

.password-field-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  border-radius: 50px;
  box-shadow: 0 2px 8px 1px rgba(1, 1, 1, 0.9);
  color: #010101;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 500px;
  margin: auto;
  padding: 50px;
}

.password-field {
  border: 1px solid #010101;
  border-radius: 30px;
  color: #010101;
  min-width: 300px;
  padding: 8px;
  outline: none;
}

.password-field:hover,
.password-field:focus {
  border: 1px solid #010101;
  box-shadow: 0 2px 8px 1px rgba(1, 1, 1, 0.9);
  color: #010101;
}

.strength-section-wrapper {
  display: flex;
  gap: 10px;
}

.strength-section {
  border: 1px solid #010101;
  border-radius: 30px;
  flex-grow: 1;
  padding: 8px;
  outline: none;
}
